<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friends | Facebook</title>
    <link rel="stylesheet" href="/css/libs/all.min.css" />
    <link rel="stylesheet" href="/css/friends.css" />
    <link rel="icon" href="/images/icons/facebook.png" />
  </head>
  <body>
    <div class="nav__contaienr">
      <div class="nav__search-menu">
        <!-- =========================== SEARCH BAR =========================== -->
        <div class="logo-search-container">
          <div class="nav__logo">
            <a href="home.ejs" aria-label="facebook logo"><img src="/images/icons/facebook.png" class="logo-icon" alt="" /></a>
          </div>
          <div class="nav__search-container">
            <i class="fa-solid fa-magnifying-glass" id="nav-search-icon"></i>
            <i class="fa-solid fa-arrow-left nav__search--hidden" id="nav-search-icon-hidden"></i>
            <input class="nav__search-input" type="search" placeholder="Search Facebook" id="home-search-input" />
            <div class="nav__search-result" id="nav-search-result">No recent Searches</div>
          </div>
        </div>
        <div class="nav__icon--container" id="nav-icon-container">
          <div class="nav__menu" id="nav-menu">
            <button class="nav__menu--btn">
              <svg id="nav-menu-icon-show" fill="#fff" viewBox="0 0 44 44" width="1em" height="1em" class="nav__menu--show">
                <circle cx="7" cy="7" r="6"></circle>
                <circle cx="22" cy="7" r="6"></circle>
                <circle cx="37" cy="7" r="6"></circle>
                <circle cx="7" cy="22" r="6"></circle>
                <circle cx="22" cy="22" r="6"></circle>
                <circle cx="37" cy="22" r="6"></circle>
                <circle cx="7" cy="37" r="6"></circle>
                <circle cx="22" cy="37" r="6"></circle>
                <circle cx="37" cy="37" r="6"></circle>
              </svg>
              <i class="fa-solid fa-xmark nav__menu--hidden" id="nav-menu-icon-hidden"></i>
            </button>
            <div class="nav__menu-list text-white" id="nav-menu-list">
              <h2>Menu</h2>
              <div class="menu__container">
                <div class="menu__social">
                  <div class="menu__search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" class="menu__search-input" placeholder="Search Menu" />
                  </div>
                  <h2>Social</h2>
                  <ul class="menu__social-list">
                    <li>
                      <a href="#">
                        <img src="/images/menu/events.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Events</h3>
                          <p>Organize or find events and other things to do online and nearby.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="friends.ejs">
                        <img src="/images/menu/friends.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Find friends</h3>
                          <p>Search for friends or people you may know.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="group.ejs">
                        <img src="/images/menu/grops.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Groups</h3>
                          <p>Connect with people who share your intersts.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="home.ejs">
                        <img src="/images/menu/feeds.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>News Feed</h3>
                          <p>See relevant posts from people and pages you follow.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/favorites.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Favorites</h3>
                          <p>View posts by Favorites</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="home.ejs">
                        <img src="/images/menu/most_recent.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Most Recent</h3>
                          <p>See the most recent posts from your friends, groups, pages and more.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/pages.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Pages</h3>
                          <p>Discover and connect with businesses on Facebook.</p>
                        </div>
                      </a>
                    </li>
                    <li></li>
                    <h2>Entertainment</h2>
                    <li>
                      <a href="#">
                        <img src="/images/menu/gaming_video.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Gaming Video</h3>
                          <p>Watch and connect with your favorites games and streamers.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="game.ejs">
                        <img src="/images/menu/play_game.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Play Games</h3>
                          <p>play your favorites games.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/watch.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Watch</h3>
                          <p>A video destination personalized to your intersts and connections.</p>
                        </div>
                      </a>
                    </li>
                    <li></li>
                    <h2>Shopping</h2>
                    <li>
                      <a href="#">
                        <img src="/images/menu/payment_card.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Orders and payments</h3>
                          <p>A seamless, secure way to pay on the apps you already use.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/marketplace.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Marketplace</h3>
                          <p>Buy and sell in your community.</p>
                        </div>
                      </a>
                    </li>
                    <li></li>
                    <h2>Personal</h2>
                    <li>
                      <a href="#">
                        <img src="/images/menu/recent_activity.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Recent ad activity</h3>
                          <p>See all the ads you interacted with on Facebook.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/memories.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Memories</h3>
                          <p>Browse your old photos, videos and posts on Facebook.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/saved.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Saved</h3>
                          <p>Find posts, photos and videos that you saved for later.</p>
                        </div>
                      </a>
                    </li>
                    <li></li>
                    <h2>Professinoal</h2>
                    <li>
                      <a href="#">
                        <img src="/images/menu/ads_manger.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Ads Menger</h3>
                          <p>Create, manage and track the performance of your ads.</p>
                        </div>
                      </a>
                    </li>
                    <li></li>
                    <h2>Community Resources</h2>
                    <li>
                      <a href="#">
                        <img src="/images/menu/blood_donatios.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Blood Donations</h3>
                          <p>Get updats about donating blood near you.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/climate_center.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Climate Science Center</h3>
                          <p>Learn about climate change and its effects.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/crisis_response.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Crisis response</h3>
                          <p>Find the latest updates for recent crises happening around the world.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/fundraisrs.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Fundraisers</h3>
                          <p>Donate and raise money for nonprofits and personal causes.</p>
                        </div>
                      </a>
                    </li>
                    <li></li>
                    <h2>More from Meta</h2>
                    <li>
                      <a href="#">
                        <img src="/images/menu/messenger_kids.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Messenger Kids</h3>
                          <p>Let kids messege with close friends and family.</p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="menu__create">
                  <h2>Create</h2>
                  <ul class="menu__create-list">
                    <li><i class="fa-solid fa-pen-to-square"></i><button id="post-nav">Post</button></li>
                    <div class="write__post-popup" id="write-post-popup-nav">
                      <div class="create__post" id="create-post-nav">
                        <div class="top__post">
                          <h2>Create Post</h2>
                          <div class="close__create-post">
                            <i class="fa-solid fa-x" id="cancle-post-nav"></i>
                          </div>
                        </div>
                        <div class="post__user-info">
                          <div class="profile-img">
                            <a href="profile.ejs">
                              <img src="/images/about.jpeg" class="profile-photo" alt="" />
                            </a>
                          </div>
                          <div class="userName">
                            <span>Mahmoud Abuyoussef</span>
                          </div>
                        </div>
                        <div class="post__content">
                          <input type="text" id="post-content" placeholder="What's on your mind, Mahmoud" />
                        </div>
                        <button id="create-post-nav-btn" class="create__pots-btn">Post</button>
                      </div>
                    </div>
                    <li><i class="fa-solid fa-book-open"></i><a href="story.ejs">Story</a></li>
                    <li><i class="fa-solid fa-video"></i><a href="#">Rome</a></li>
                    <li></li>
                    <li><i class="fa-solid fa-flag"></i><a href="#">Page</a></li>
                    <li><i class="fa-solid fa-flag"></i><a href="#">Ad</a></li>
                    <li><i class="fa-solid fa-people-group"></i><a href="group.ejs">Group</a></li>
                    <li><i class="fa-solid fa-calendar-plus"></i><a href="#">Event</a></li>
                    <li><i class="fa-solid fa-bag-shopping"></i><a href="#">Marketplace</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="nav__messenger">
            <button class="nav__messenger--btn">
              <i class="fa-brands fa-facebook-messenger" id="nav-messenger-icon-show"></i>
              <i class="fa-brands fa-facebook-messenger nav__messenger--hidden" id="nav-messenger-icon-hidden"></i>
            </button>
            <div class="nav__messenger-list" id="nav-messneger-list">
              <div class="nav__messenger-nav">
                <h2>Chats</h2>
                <div class="nav__messenger-icons">
                  <div class="nav__messenger-block">
                    <button><i class="fa-solid fa-ellipsis"></i></button>
                  </div>
                  <div class="nav__messenger-block">
                    <button><i class="fa-solid fa-maximize"></i></button>
                  </div>
                  <div class="nav__messenger-block">
                    <button><i class="fa-solid fa-video"></i></button>
                  </div>
                  <div class="nav__messenger-block">
                    <button><i class="fa-solid fa-pen-to-square"></i></button>
                  </div>
                </div>
              </div>
              <div class="nav__messenger-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" class="nav__messenger-input" placeholder="Search Messenger" id="nav-messenger-search-input" />
              </div>
              <div class="messenger__members" id="messenger-members">
                <ul>
                  <li>
                    <a href="#">
                      <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                      Atef E Megahed
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                      Kerolos Monier
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                      Mohamed Gemmy
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/sabry.jpg" class="profile-friend-photo" alt="" />
                      Mohamed Sabry
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                      Atef E Megahed
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                      Kerolos Monier
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                      Mohamed Gemmy
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                      Kerolos Monier
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                      Atef E Megahed
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                      Atef E Megahed
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                      Kerolos Monier
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                      Mohamed Gemmy
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/sabry.jpg" class="profile-friend-photo" alt="" />
                      Mohamed Sabry
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                      Atef E Megahed
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                      Kerolos Monier
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                      Mohamed Gemmy
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                      Kerolos Monier
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                      Atef E Megahed
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- ========================== NAV ICONS =========================== -->
        </div>
      </div>
      <div class="nav__pages">
        <div class="nav__page">
          <div class="nav__page-home">
            <a href="home.ejs" aria-label="Facebook home Page"><i class="fa-solid fa-house"></i></a>
          </div>
        </div>
        <div class="nav__page">
          <div class="nav__page-friends">
            <a href="friends.ejs" class="active" aria-label="Facebook Friends Page"><i class="fa-solid fa-user-group"></i></a>
          </div>
        </div>
        <div class="nav__page">
          <div class="nav__page-groups">
            <a href="group.ejs" aria-label="Facebook Groups Page"><i class="fa-solid fa-people-group"></i></a>
          </div>
        </div>
        <div class="nav__page nav__page-notification">
          <div>
            <button>
              <i class="fa-solid fa-bell" id="nav-page-notification-icon-show"></i>
              <i class="fa-solid fa-bell notification-icon-hidden" id="nav-page-notification-icon-hidden"></i>
            </button>
          </div>
          <div class="nav__page-notification-list" id="nav-page-notification-list">
            <h2>Notifications</h2>
            <ul>
              <li>
                <a href="#">
                  <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                  Atef E Megahed
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                  Kerolos Monier
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                  Mohamed Gemmy
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/sabry.jpg" class="profile-friend-photo" alt="" />
                  Mohamed Sabry
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                  Atef E Megahed
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                  Kerolos Monier
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                  Mohamed Gemmy
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                  Kerolos Monier
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                  Atef E Megahed
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                  Atef E Megahed
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                  Kerolos Monier
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                  Mohamed Gemmy
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/sabry.jpg" class="profile-friend-photo" alt="" />
                  Mohamed Sabry
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                  Atef E Megahed
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                  Kerolos Monier
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                  Mohamed Gemmy
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                  Kerolos Monier
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                  Atef E Megahed
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="nav__page nav__page-profile">
          <div>
            <button>
              <a href="profile.ejs" aria-label="Facebook Profile Page"><img src="/images/about.jpeg" class="profile-photo" alt="" /></a>
            </button>
          </div>
        </div>
        <div class="nav__page nav__page-gaming">
          <div>
            <a href="game.ejs" aria-label="Facebook Gaming Page"><i class="fa-solid fa-gamepad"></i></a>
          </div>
        </div>
      </div>
      <div class="nav__group-right">
        <div class="nav__icon--container" id="nav-icon-container">
          <div class="nav__menu" id="nav-menu">
            <button class="nav__menu--btn">
              <svg id="nav-menu-icon-show-larg" fill="#fff" viewBox="0 0 44 44" width="1rem" height="1rem" class="nav__menu--show">
                <circle cx="7" cy="7" r="6"></circle>
                <circle cx="22" cy="7" r="6"></circle>
                <circle cx="37" cy="7" r="6"></circle>
                <circle cx="7" cy="22" r="6"></circle>
                <circle cx="22" cy="22" r="6"></circle>
                <circle cx="37" cy="22" r="6"></circle>
                <circle cx="7" cy="37" r="6"></circle>
                <circle cx="22" cy="37" r="6"></circle>
                <circle cx="37" cy="37" r="6"></circle>
              </svg>
              <i class="fa-solid fa-xmark nav__menu--hidden" id="nav-menu-icon-hidden-larg"></i>
            </button>
            <div class="nav__menu-list text-white" id="nav-menu-list-larg">
              <h2>Menu</h2>
              <div class="menu__container">
                <div class="menu__social">
                  <div class="menu__search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" class="menu__search-input" placeholder="Search Menu" />
                  </div>
                  <h2>Social</h2>
                  <ul class="menu__social-list">
                    <li>
                      <a href="#">
                        <img src="/images/menu/events.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Events</h3>
                          <p>Organize or find events and other things to do online and nearby.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/friends.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Find friends</h3>
                          <p>Search for friends or people you may know.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/grops.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Groups</h3>
                          <p>Connect with people who share your intersts.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/feeds.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>News Feed</h3>
                          <p>See relevant posts from people and pages you follow.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/favorites.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Favorites</h3>
                          <p>View posts by Favorites</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/most_recent.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Most Recent</h3>
                          <p>See the most recent posts from your friends, groups, pages and more.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/pages.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Pages</h3>
                          <p>Discover and connect with businesses on Facebook.</p>
                        </div>
                      </a>
                    </li>
                    <li></li>
                    <h2>Entertainment</h2>
                    <li>
                      <a href="#">
                        <img src="/images/menu/gaming_video.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Gaming Video</h3>
                          <p>Watch and connect with your favorites games and streamers.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/play_game.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Play Game</h3>
                          <p>play your favorites games.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/watch.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Watch</h3>
                          <p>A video destination personalized to your intersts and connections.</p>
                        </div>
                      </a>
                    </li>
                    <li></li>
                    <h2>Shopping</h2>
                    <li>
                      <a href="#">
                        <img src="/images/menu/payment_card.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Orders and payments</h3>
                          <p>A seamless, secure way to pay on the apps you already use.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/marketplace.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Marketplace</h3>
                          <p>Buy and sell in your community.</p>
                        </div>
                      </a>
                    </li>
                    <li></li>
                    <h2>Personal</h2>
                    <li>
                      <a href="#">
                        <img src="/images/menu/recent_activity.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Recent ad activity</h3>
                          <p>See all the ads you interacted with on Facebook.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/memories.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Memories</h3>
                          <p>Browse your old photos, videos and posts on Facebook.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/saved.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Saved</h3>
                          <p>Find posts, photos and videos that you saved for later.</p>
                        </div>
                      </a>
                    </li>
                    <li></li>
                    <h2>Professinoal</h2>
                    <li>
                      <a href="#">
                        <img src="/images/menu/ads_manger.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Ads Menger</h3>
                          <p>Create, manage and track the performance of your ads.</p>
                        </div>
                      </a>
                    </li>
                    <li></li>
                    <h2>Community Resources</h2>
                    <li>
                      <a href="#">
                        <img src="/images/menu/blood_donatios.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Blood Donations</h3>
                          <p>Get updats about donating blood near you.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/climate_center.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Climate Science Center</h3>
                          <p>Learn about climate change and its effects.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/crisis_response.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Crisis response</h3>
                          <p>Find the latest updates for recent crises happening around the world.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="/images/menu/fundraisrs.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Fundraisers</h3>
                          <p>Donate and raise money for nonprofits and personal causes.</p>
                        </div>
                      </a>
                    </li>
                    <li></li>
                    <h2>More from Meta</h2>
                    <li>
                      <a href="#">
                        <img src="/images/menu/messenger_kids.png" alt="" style="height: 36px; width: 36px" />
                        <div class="info">
                          <h3>Messenger Kids</h3>
                          <p>Let kids messege with close friends and family.</p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="menu__create">
                  <h2>Create</h2>
                  <ul class="menu__create-list">
                    <li><i class="fa-solid fa-pen-to-square"></i><button id="post-nav-larg">Post</button></li>
                    <!-- Post -->
                    <div class="write__post-popup" id="write-post-popu-nav-larg">
                      <div class="create__post" id="create-post">
                        <div class="top__post">
                          <h2>Create Post</h2>
                          <div class="close__create-post">
                            <i class="fa-solid fa-x" id="cancle-post-nav-larg"></i>
                          </div>
                        </div>
                        <div class="post__user-info">
                          <div class="profile-img">
                            <a href="profile.ejs">
                              <img src="/images/about.jpeg" class="profile-photo" alt="" />
                            </a>
                          </div>
                          <div class="userName">
                            <span>Mahmoud Abuyoussef</span>
                          </div>
                        </div>
                        <div class="post__content">
                          <input type="text" id="post-content" placeholder="What's on your mind, Mahmoud" />
                        </div>
                        <button id="create-post-nav-larg" class="create__pots-btn">Post</button>
                      </div>
                    </div>
                    <li><i class="fa-solid fa-book-open"></i><a href="story.ejs">Story</a></li>
                    <li><i class="fa-solid fa-video"></i><a href="#">Rome</a></li>
                    <li></li>
                    <li><i class="fa-solid fa-flag"></i><a href="#">Page</a></li>
                    <li><i class="fa-solid fa-flag"></i><a href="#">Ad</a></li>
                    <li><i class="fa-solid fa-people-group"></i><a href="group.ejs">Group</a></li>
                    <li><i class="fa-solid fa-calendar-plus"></i><a href="#">Event</a></li>
                    <li><i class="fa-solid fa-bag-shopping"></i><a href="#">Marketplace</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="nav__messenger">
            <button class="nav__messenger--btn">
              <i class="fa-brands fa-facebook-messenger" id="nav-messenger-icon-show-larg"></i>
              <i class="fa-brands fa-facebook-messenger nav__messenger--hidden" id="nav-messenger-icon-hidden-larg"></i>
            </button>
            <div class="nav__messenger-list" id="nav-messneger-list-larg">
              <div class="nav__messenger-nav">
                <h2>Chats</h2>
                <div class="nav__messenger-icons">
                  <div class="nav__messenger-block">
                    <button><i class="fa-solid fa-ellipsis"></i></button>
                  </div>
                  <div class="nav__messenger-block">
                    <button><i class="fa-solid fa-maximize"></i></button>
                  </div>
                  <div class="nav__messenger-block">
                    <button><i class="fa-solid fa-video"></i></button>
                  </div>
                  <div class="nav__messenger-block">
                    <button><i class="fa-solid fa-pen-to-square"></i></button>
                  </div>
                </div>
              </div>
              <div class="nav__messenger-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" class="nav__messenger-input" placeholder="Search Messenger" id="nav-messenger-search-input" />
              </div>
              <div class="messenger__members" id="messenger-members">
                <ul>
                  <li>
                    <a href="#">
                      <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                      Atef E Megahed
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                      Kerolos Monier
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                      Mohamed Gemmy
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/sabry.jpg" class="profile-friend-photo" alt="" />
                      Mohamed Sabry
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                      Atef E Megahed
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                      Kerolos Monier
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                      Mohamed Gemmy
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                      Kerolos Monier
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                      Atef E Megahed
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                      Atef E Megahed
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                      Kerolos Monier
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                      Mohamed Gemmy
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/sabry.jpg" class="profile-friend-photo" alt="" />
                      Mohamed Sabry
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                      Atef E Megahed
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                      Kerolos Monier
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                      Mohamed Gemmy
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                      Kerolos Monier
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                      Atef E Megahed
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="nav__page nav__page-notification">
            <div>
              <button>
                <i class="fa-solid fa-bell" id="nav-page-notification-icon-show-larg"></i>
                <i class="fa-solid fa-bell notification-icon-hidden-larg" id="nav-page-notification-icon-hidden-larg"></i>
              </button>
            </div>
            <div class="nav__page-notification-list" id="nav-page-notification-list-larg">
              <h2>Notifications</h2>
              <ul>
                <li>
                  <a href="#">
                    <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                    Atef E Megahed
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                    Kerolos Monier
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                    Mohamed Gemmy
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/sabry.jpg" class="profile-friend-photo" alt="" />
                    Mohamed Sabry
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                    Atef E Megahed
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                    Kerolos Monier
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                    Mohamed Gemmy
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                    Kerolos Monier
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                    Atef E Megahed
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                    Atef E Megahed
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                    Kerolos Monier
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                    Mohamed Gemmy
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/sabry.jpg" class="profile-friend-photo" alt="" />
                    Mohamed Sabry
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                    Atef E Megahed
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                    Kerolos Monier
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/mohamed.jpg" class="profile-friend-photo" alt="" />
                    Mohamed Gemmy
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/kerolos.jpg" class="profile-friend-photo" alt="" />
                    Kerolos Monier
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/images/friends/atef.jpg" class="profile-friend-photo" alt="" />
                    Atef E Megahed
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="nav__page nav__page-profile">
            <div>
              <button>
                <a href="profile.ejs" aria-label="Facebook Profile Page"><img src="/images/about.jpeg" class="profile-photo" alt="" /></a>
              </button>
            </div>
          </div>
          <!-- ========================== NAV ICONS =========================== -->
        </div>
      </div>
    </div>
    <div class="home__container">
      <aside class="sidebar-left">
        <header class="flex">
          <h1>Friends</h1>
          <i class="fa-solid fa-gear radius flex-center"></i>
        </header>
        <div class="links">
          <a href="#" class="align-center active-home"><i class="fa-solid fa-user-group flex-center active"></i> Home</a>
          <a href="#" class="align-center"><i class="fa-solid fa-user-group flex-center"></i> Friend Requests</a>
          <a href="#" class="align-center"><i class="fa-solid fa-user-plus flex-center"></i> Suggestions</a>
          <a href="#" class="align-center"><i class="fa-solid fa-user-group flex-center"></i> All Friends</a>
          <a href="#" class="align-center"><i class="fa-solid fa-cake-candles flex-center"></i> Birthdays</a>
          <a href="#" class="align-center"><i class="fa-solid fa-user-group flex-center"></i> Custom List</a>
        </div>
      </aside>
      <div class="home__content">
        <header>
          <div class="search flex">
            <h1>Friends</h1>
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="links align-center">
            <a href="#">Suggestions</a>
            <a href="#">Your Friends</a>
          </div>
        </header>
        <div class="friends-list">
          <h2>Friend Requests</h2>
          <div class="friend__list">
            <ul>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="friend">
                  <div class="friend__profile">
                    <img class="friend__profile-photo" src="/images/friends/mohamed.jpg" alt="" />
                  </div>
                  <div class="friend__requset">
                    <span class="friend__info">Mohamed</span>
                    <div class="btns">
                      <button class="confirm">Confirm</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/nav.js"></script>
  </body>
</html>
