<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook Story</title>
    <link rel="stylesheet" href=" /css/libs/all.min.css" />
    <link rel="stylesheet" href=" /css/story.css" />
    <link rel="icon" href=" /images/icons/facebook.png" />
  </head>
  <body>
    <div class="container">
      <div class="text">
        <div>
          <div class="icon">Aa</div>
          <form action="/createStory" method="POST">
            <input type="text" name="storyBody" placeholder="create a text story" />
            <button type="submit">Share to Story</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
