* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #18191b;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin-bottom: 0;
}

:root ::-webkit-scrollbar {
  width: 5px;
}
:root ::-webkit-scrollbar-thumb {
  background-color: #a6a7a9;
  border-radius: 10px;
}

button {
  cursor: pointer;
  background-color: transparent;
}

.btn__signup {
  color: #fff;
  font-weight: bold;
  background-color: #42b631;
  padding: 8px;
  border-radius: 5px;
}

.btn__primary {
  background-color: #1977f1;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.btn__gray {
  padding: 10px;
  border-radius: 5px;
  background-color: #e5e6eb;
}

input {
  background-color: transparent;
}

.form__input {
  padding: 7px;
  background-color: #f5f6f8;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 5px 0;
}
.form__input:focus {
  border: 1px solid #496b99;
}

.select__fields {
  display: flex;
  justify-content: space-between;
}
.select__fields .select__field {
  border: 1px solid #e0e0e0;
  padding: 0px 6px;
  border-radius: 5px;
  width: 33.3333333333%;
  margin: 10px 5px;
}
.select__fields .select__field select {
  padding: 7px;
  width: 100%;
}

.radio__fields {
  display: flex;
}
.radio__fields .radio__field {
  padding: 5px 7px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 33.3333333333%;
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
}

.big__label {
  color: #7e7a79;
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .form__input {
    width: 100%;
  }
  .select__fields .select__field {
    padding: 0px 2px;
  }
  .radio__fields .radio__field {
    padding: 5px 3px;
    margin: 0 1px;
  }
}
body {
  background-color: #eaebef;
}

.recoverypassword__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.recoverypassword__nav .logo a {
  color: #1977f1;
}
.recoverypassword__nav .sidebar__close {
  display: none;
}
.recoverypassword__nav .sidebar {
  background-color: #eaebef;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  transition: all 1s;
  transform: translateX(-100%);
  text-align: center;
}
.recoverypassword__nav .sidebar .form__container .login__btn {
  margin-bottom: 10px;
}
.recoverypassword__nav .sidebar .form__container .forgotten {
  color: #1977f1;
}
.recoverypassword__nav .sidebar__show {
  transform: translateX(0%);
}

.recoverypassowrd__form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  width: 90%;
  margin: auto;
}
.recoverypassowrd__form .form__container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.recoverypassowrd__form .form__container .heading {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.recoverypassowrd__form .form__container .heading h2 {
  font-size: 1rem;
}
.recoverypassowrd__form .form__container .info {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.recoverypassowrd__form .form__container .info p {
  font-size: 0.7rem;
  margin: 10px 0;
}
.recoverypassowrd__form .form__container .info .form__input {
  width: 100%;
  padding: 10px;
}
.recoverypassowrd__form .form__container .btn {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.recoverypassowrd__form .form__container .btn .btn__primary {
  margin: 0 5px;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 576px) and (max-width: 991px) {
  .sidebar .form__sidebar {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
  }
  .sidebar .form__sidebar .form__container .form__input {
    width: 100%;
  }
  .sidebar .form__sidebar .form__container .btn__primary {
    width: 200px;
    margin: 10px auto;
    display: block;
  }
}
@media (min-width: 992px) {
  .recoverypassword__nav {
    padding: 0 10px;
  }
  .recoverypassword__nav .berger__icon,
  .recoverypassword__nav .sidebar__close {
    display: none;
  }
  .recoverypassword__nav .sidebar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    transform: none;
  }
  .recoverypassword__nav .sidebar .form__sidebar {
    width: 100%;
  }
  .recoverypassword__nav .sidebar .form__sidebar .form__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .recoverypassword__nav .sidebar .form__sidebar .form__container .form__input {
    margin: 0 5px;
  }
  .recoverypassword__nav .sidebar .form__sidebar .form__container .login__btn {
    margin: 0;
    margin-right: 5px;
  }
}
@media (min-width: 992px) {
  .recoverypassowrd__form {
    width: 100%;
  }
  .recoverypassowrd__form .form__container .heading {
    padding: 15px;
  }
  .recoverypassowrd__form .form__container .heading h2 {
    font-size: 1.5rem;
  }
  .recoverypassowrd__form .form__container .info p {
    font-size: 1rem;
  }
  .recoverypassowrd__form .form__container .info .form__input {
    width: 100%;
    padding: 10px;
  }
  .recoverypassowrd__form .form__container .btn {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .recoverypassowrd__form .form__container .btn .btn__primary {
    margin: 0 5px;
  }
}