input {
  background-color: transparent;
}

.form__input {
  padding: 7px;
  background-color: #f5f6f8;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 5px 0;
}
.form__input:focus {
  border: 1px solid #496b99;
}

.select__fields {
  display: flex;
  justify-content: space-between;
}
.select__fields .select__field {
  border: 1px solid #e0e0e0;
  padding: 0px 6px;
  border-radius: 5px;
  width: 33.3333333333%;
  margin: 10px 5px;
}
.select__fields .select__field select {
  padding: 7px;
  width: 100%;
}

.radio__fields {
  display: flex;
}
.radio__fields .radio__field {
  padding: 5px 7px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 33.3333333333%;
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
}

.big__label {
  color: #7e7a79;
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .form__input {
    width: 100%;
  }
  .select__fields .select__field {
    padding: 0px 2px;
  }
  .radio__fields .radio__field {
    padding: 5px 3px;
    margin: 0 1px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #18191b;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin-bottom: 0;
}

:root ::-webkit-scrollbar {
  width: 5px;
}
:root ::-webkit-scrollbar-thumb {
  background-color: #a6a7a9;
  border-radius: 10px;
}

.container .text, .container .text .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .text .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.radius {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container .text {
  background-color: #be52c2;
  height: 90vh;
  width: 90%;
  margin: 30px auto;
  border-radius: 20px;
}
.container .text .icon {
  margin: auto;
  color: #fff;
  font-weight: bold;
  background-color: #333436;
}
.container .text form input {
  padding: 10px;
  color: #fff;
}
.container .text form input::-moz-placeholder {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
.container .text form input::placeholder {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
.container .text form button {
  background-color: #1977f1;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: block;
  margin: auto;
}

@media (min-width: 576px) {
  .container .text {
    background-color: #be52c2;
    height: 90vh;
    width: 50%;
    margin: 30px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 767px) {
  .container .text {
    background-color: #be52c2;
    height: 90vh;
    width: 40%;
    margin: 30px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 991px) {
  .container .text {
    background-color: #be52c2;
    height: 90vh;
    width: 30%;
    margin: 30px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}