@use "../helpers/variables" as *;
%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
%radius {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
%fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
%positionRelative {
  position: relative;
  top: 15%;
  width: 90%;
  margin: auto;
  background-color: $background_popup;
  border-radius: 10px;
  padding-bottom: 10px;
}
%alignCenter {
  display: flex;
  align-items: center;
}
%list {
  padding: 20px 0;
  li:empty {
    border: 1px solid $hr_color;
  }
  li {
    margin: 15px 0;
    a {
      color: $nav_color;
      @extend %alignCenter;
    }
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.align-center {
  display: flex;
  align-items: center;
}
.radius {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
