$main_color: #1977f1;
$dark_color: #242527;
$text_color: #7e7a79;
$green_color: #45b529;
$border_color: #e0e0e0;
$border_alt_color: #496b99;
$border_second_color: #393939;
$btn_success: #42b631;
$btn_gray: #e5e6eb;
$background_input: #f5f6f8;
$background_search_input: #3a3b3d;
$nav_color: #a6a7a9;
$background_icons: #4d4e50;
$background_popup: #333436;
$background_color: #18191b;
$hr_color: #3f4042;
